body {
  background-color: hsl(225, 100%, 94%);
  background-image: url('./images/pattern-background-desktop.svg');
  background-repeat: no-repeat;
  background-size: 100%;
  font-family: 'Red Hat Display', sans-serif;
  font-size: 1rem;
}

h1 {
  text-align: center;
  margin: 40px auto 10px auto;
  font-weight: 900;
  padding: 0;
}

p {
  color: hsl(224, 23%, 55%);
}

h2 {
  display: inline-block;
  position: absolute;
  margin-top: 20px;
  margin-left: 10px;
  font-size: 1rem;
}

/************class*************/
.container {
  width: 450px;
  height: 660px;
  background-color: white;
  border-radius: 20px;
  position: relative;
  margin: 30px auto;
  box-shadow: 1px 1px 20px 1px rgba(0, 0, 0, 5%);
}

.top-content{
  text-align: center;
  width: 75%;
  margin: auto;
}

.hero-img {
  border-radius: 10px 10px 0 0;
  margin: 0;
}

/*.top-content {
  margin: auto;
  width: 75%;
  text-align: center;
  line-height: 1.5;
}*/

.box {
  width: 380px;
  height: 100px;
  border-radius: 10px;
  margin: 20px auto 0 auto;
  box-shadow: 1px 1px 10px 1px rgba(0, 0, 0, 1%);
  background-color: hsl(225, 100%, 98%);
}

.icon {
  padding: 25px 10px 25px 20px ;

}

.price {
    display: inline-block;
    position: absolute;
    margin-top: 50px;
    margin-left: 10px;
}

.change {
  float: right;
  margin-right: 20px;
  font-size: 1rem;
  margin-top: 35px;
  color: hsl(245, 75%, 52%);
  font-weight: 900;
}

.btn {
   width: 380px;
   padding: 10px 0;
   background: #3829E0;
   border-radius: 10px;
   color: #FFFFFF;
   font-weight: 700;
   font-size: 1rem;
   box-shadow: -1px 10px 25px rgba(151, 142, 241, 50%);
   text-decoration: none;
   display: block;
   cursor: pointer;
   position: absolute;
   margin-left: 35px;
}

.bottom-content {
  margin-top: 20px;
  text-align: center;
}

.cancel {
  font-weight: 700;
  text-decoration: none;
  color: hsl(224, 23%, 55%);
  position: relative;
  top: 70px;
}

.btn:hover {
  background-color: hsl(245, 83%, 68%);
}

.cancel:hover {
  color: #000000;
}

.change:hover {
  text-decoration: none;
  color: hsl(225, 100%, 75%);
}


/************Mobile and Desktop*************/
